This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [1]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = ''
url = 'https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [2]:
# First, import the relevant modules
import quandl
import requests
import pandas as pd

In [3]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
payload = {'start_date': '2018-09-05', 
           'api_key': API_KEY }
r = requests.get(url, params=payload)

In [4]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
r.json()

{'dataset': {'id': 10095370,
  'dataset_code': 'AFX_X',
  'database_code': 'FSE',
  'name': 'Carl Zeiss Meditec (AFX_X)',
  'description': 'Stock Prices for Carl Zeiss Meditec (AFX) from the Frankfurt Stock Exchange.<br><br>Trading System: Xetra<br><br>ISIN: DE0005313704',
  'refreshed_at': '2018-09-05T22:27:51.214Z',
  'newest_available_date': '2018-09-05',
  'oldest_available_date': '2000-06-07',
  'column_names': ['Date',
   'Open',
   'High',
   'Low',
   'Close',
   'Change',
   'Traded Volume',
   'Turnover',
   'Last Price of the Day',
   'Daily Traded Units',
   'Daily Turnover'],
  'frequency': 'daily',
  'type': 'Time Series',
  'premium': False,
  'limit': None,
  'transform': None,
  'column_index': None,
  'start_date': '2018-09-05',
  'end_date': '2018-09-05',
  'data': [['2018-09-05',
    None,
    75.95,
    74.65,
    75.3,
    None,
    103213.0,
    7777480.0,
    None,
    None,
    None]],
  'collapse': None,
  'order': None,
  'database_id': 6129}}

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

## Q1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017

In [5]:
payload={'start_date': '2017-01-01', 
         'end_date': '2017-12-31',
         'api_key': API_KEY        
        }
r = requests.get(url, params=payload)

## Q2. Convert the returned JSON object into a Python dictionary

In [6]:
json_ = r.json()
print(type(json_))
#json_

<class 'dict'>

## Q3. Calculate what the highest and lowest opening prices were for the stock in this period

In [7]:
# extract column names for DataFrame
column_names = json_['dataset']['column_names']
column_names

['Date',
 'Open',
 'High',
 'Low',
 'Close',
 'Change',
 'Traded Volume',
 'Turnover',
 'Last Price of the Day',
 'Daily Traded Units',
 'Daily Turnover']

In [8]:
# extract data from dictionary for DataFrame
data = json_['dataset']['data']

# convert dictionary to pandas DataFrame
df = pd.DataFrame(data, columns=column_names)
df.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2017-12-29,51.76,51.94,51.45,51.76,NaN,34640.0,1792304.0,None,None,None
1,2017-12-28,51.65,51.82,51.43,51.60,NaN,40660.0,2099024.0,None,None,None
2,2017-12-27,51.45,51.89,50.76,51.82,NaN,57452.0,2957018.0,None,None,None
3,2017-12-22,51.05,51.50,50.92,51.32,NaN,71165.0,3641949.0,None,None,None
4,2017-12-21,51.16,51.52,50.90,51.40,NaN,120649.0,6179433.0,None,None,None

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 11 columns):
Date                     255 non-null object
Open                     252 non-null float64
High                     255 non-null float64
Low                      255 non-null float64
Close                    255 non-null float64
Change                   1 non-null float64
Traded Volume            255 non-null float64
Turnover                 255 non-null float64
Last Price of the Day    0 non-null object
Daily Traded Units       0 non-null object
Daily Turnover           0 non-null object
dtypes: float64(7), object(4)
memory usage: 22.0+ KB

In [10]:
# answer to Q3
df[['Date', 'Open']].apply([max, min], axis=0)

           Date   Open
max  2017-12-29  53.11
min  2017-01-02  34.00

## Q4. What was the largest change in any one day (based on High and Low price)?

In [11]:
# extract/copy required features
df_q4 = df.copy()[['Date', 'High', 'Low', 'Change']]
df_q4.head(3)

         Date   High    Low  Change
0  2017-12-29  51.94  51.45     NaN
1  2017-12-28  51.82  51.43     NaN
2  2017-12-27  51.89  50.76     NaN

In [12]:
# define helper function
def delta(row):
    return row['High'] - row['Low']

df_q4['Change'] = df_q4.apply(delta, axis=1)
df_q4.head()

         Date   High    Low  Change
0  2017-12-29  51.94  51.45    0.49
1  2017-12-28  51.82  51.43    0.39
2  2017-12-27  51.89  50.76    1.13
3  2017-12-22  51.50  50.92    0.58
4  2017-12-21  51.52  50.90    0.62

In [13]:
# answer to Q4
df_q4[['Date', 'Change']].apply(max, axis=0)

Date      2017-12-29
Change          2.81
dtype: object

## Q5. What was the largest change between any two days (based on Closing Price)?

In [14]:
# extract/copy required features
df_q5 = df.copy()[['Date', 'Close', 'Change']]
df_q5.head(3)

         Date  Close  Change
0  2017-12-29  51.76     NaN
1  2017-12-28  51.60     NaN
2  2017-12-27  51.82     NaN

In [15]:
# convert to datetime for easiness in processing task
df_q5['Date'] = pd.to_datetime(df_q5['Date'])

In [16]:
df_q5 = df_q5.set_index('Date')
df_q5 = df_q5.sort_index()

In [17]:
df_q5.head(3)

            Close  Change
Date
2017-01-02  35.80     NaN
2017-01-03  35.48     NaN
2017-01-04  35.19     NaN

In [18]:
# apply rolling functions to achieve two-day change in closing price
df_q5['Change'] = df_q5['Close'].rolling(window=3).apply(lambda x:x[1]-x[0], raw=True)
df_q5.head()

            Close  Change
Date
2017-01-02  35.80     NaN
2017-01-03  35.48     NaN
2017-01-04  35.19   -0.32
2017-01-05  35.06   -0.29
2017-01-06  35.04   -0.13

In [19]:
# answer to Q5
df_q5['Change'].idxmax(), df_q5['Change'].max()

(Timestamp('2017-05-12 00:00:00'), 1.7199999999999989)

## Q6. What was the average daily trading volume during this year?

In [20]:
# Check if there exists duplicated date
df['Date'].unique().shape[0] == df['Date'].shape[0]

True

In [21]:
# transform to series indexed by 'Date' & mean -> all dates are unique, so mean value is each date's value
series_q6 = df.groupby('Date').mean()['Traded Volume']
series_q6.head()

Date
2017-01-02    44700.0
2017-01-03    70618.0
2017-01-04    54408.0
2017-01-05    48412.0
2017-01-06    27507.0
Name: Traded Volume, dtype: float64

In [22]:
# answer to Q6
series_q6.mean()

89124.33725490196

In [23]:
## FYI
series_q6.describe()

count       255.000000
mean      89124.337255
std       60441.130541
min          45.000000
25%       56282.000000
50%       76286.000000
75%      104479.000000
max      670349.000000
Name: Traded Volume, dtype: float64

## Q7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [24]:
# Same process as Q6 but median instead of mean
series_q7 = df.groupby('Date').mean()['Traded Volume']

# answer to q7
series_q7.median()

76286.0